<div class="index-content">
    <h1>{{title}}</h1>
    
    <div class="index-description">
        {{{content}}}
    </div>
    
    {{#if aliases.length}}
    <div class="index-aliases">
        <h2>Aliases:</h2>
        <ul>
            {{#each aliases}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>
